[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendors/mupdf"]
	path = vendors/mupdf
	url = https://github.com/ArtifexSoftware/mupdf
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/nlohmann/json
